@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap');

*,*::before,*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

cite {
	font-style: normal;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
}

img {
	vertical-align: top;
}

button {
	cursor: pointer;
}

html, body {
	width: 100%;
	height: 100%;
	font-size: 100%;
	line-height: 1;
}

body {
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
	background-color: #0D0D11;
	color: #fff;
}

body._lock {
	overflow: hidden;
}

[class*="__container"] {
	max-width: calc(1280px + 10px);
	margin: 0 auto;
	padding: 0 10px;
}

.wrapper {
	position: relative;
	min-height: 100%;
	overflow: clip;
	display: flex;
	flex-direction: column;
}

.wrapper main {
	flex: 1 1 auto;
}

.wrapper > * {
	min-width: 0;
}

.ibg {
	position: relative;
}
.ibg img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.button {
	display: inline-block;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.5;
	padding: 16px 30px;
	border-radius: 50px;
	color: #fff;
	text-align: center;
	letter-spacing: 2px;
	background-color: #3D96F4;
	transition: background-color 0.4s;
}
.button.button_black {
	background-color: rgba(36, 36, 41, 1.0);
}

.title {
	font-weight: 500;
	font-size: 51.2px;
	line-height: 1.2;
}
.title.title_small {
	font-weight: 400;
	font-size: 19.2px;
	line-height: 1.4;
}

.title_normal {
	font-weight: 400;
	font-size: 32px;
	line-height: 1.4;
}

.title_footer {
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: 1px;
	margin-bottom: 31px;
}

.text {
	font-size: 18px;
	line-height: 1.5;
	color: #9C9C9C;
}
.text.text_small {
	font-size: 16px;
	line-height: 1.5;	
	color: #81818B;
}

.mark {
	display: inline-block;
	font-size: 10.8px;
	padding: 11px 19px;
	border: 1px solid rgba(129, 129, 139, 0.2);
	border-radius: 12px;
	text-align: center;
	letter-spacing: 2px;
	line-height: 1.5;
	text-transform: uppercase;
	color: #9C9C9C;
}

.title-block {
	display: flex;
	column-gap: 50px;
	row-gap: 12px;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: flex-end;
	margin-bottom: 75px;
}
.title-block__content {
	flex: 0 1 736px;
}
.title-block__content > *:not(:last-child) {
	margin-bottom: 12px;
}
.title-block__title_news {
	max-width: 400px;
}

/*=======================================================================*/

.header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: rgba(13, 13, 17, 0.9);
	z-index: 50;
}

.header__container {
	display: flex;
	gap: 35px;
	align-items: center;
	min-height: 116px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.header__logo {
	overflow: hidden;
	flex: 0 0 auto;
}

.logo {
	display: inline-block;
}
.logo img {
	width: 136px;
}

.menu {
	flex: 1 1 auto;
}

.menu__list {
	display: flex;
	row-gap: 8px;
}

.menu__link {
	position: relative;
	color: #fff;
	line-height: 1.6;
}

.menu__link::before,
.cart__text::before {
	content: '';
	position: absolute;
	bottom: -1px;
	left: 50%;
	width: 0%;
	height: 1px;
	background-color: #fff;
	transition: all 0.3s;
}

.cart {
	position: relative;
	display: flex;
	align-items: center;
	gap: 4.8px;
}

.cart > * {
	color: #fff;
}

.cart__text {
	position: relative;
}

.cart__count {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 14px;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	background-color: #303036;
}

.cart::before {
	content: '';
	width: 35px;
	height: 35px;
	background: url('../img/icons/header/cart.svg') center/cover no-repeat;
	display: none;
}

.header__burger {
	position: relative;
	flex: 0 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 30px;
	height: 20px;
	background-color: transparent;
}

.header__burger::before,
.header__burger::after {
	content: '';
	position: absolute;
	left: 0;
	width: 100%;
	height: 2px;
	background-color: white;
	transition: all 0.4s;
}

.header__burger::before {
	top: 0;
}

.header__burger::after {
	bottom: 0;
}

.header__burger span {
	flex: 1 1 auto;
	height: 2px;
	background-color: white;
	transition: opacity 0.4s;
	pointer-events: none;
}

.header__burger._active span {
 	opacity: 0;
}

.header__burger._active::before  {
 	transform: translateY(9px) rotate(45deg);
}

.header__burger._active::after {
 	transform: translateY(-9px) rotate(-45deg);
}

/*=======================================================================*/

.main-page {
	padding: calc(116px + 44px) 0 96.5px 0;
}

.main-page__container > * {
	flex: 0 1 50%;
}

.main-page__content > *:not(:last-child) {
	margin-bottom: 28px;
}

.main-page__title {
	position: relative;
}

.main-page__title::before {
	content: '';
	position: absolute;
	top: -18px;
	left: -31px;
	width: 122px;
	height: 122px;
	background: url('../img/icons/decor.svg') no-repeat;
}

.main-page__buttons {
	display: flex;
	flex-wrap: wrap;
	gap: 32px;
}

.main-images {
	display: flex;
	justify-content: center;
	column-gap: 59px;
}

.main-images__column {
	width: 38%;
	height: 100%;
}

.main-images__image {
	overflow: hidden;
}

.main-images__image:not(:last-child) {
	margin-bottom: 32px;
}

.main-images__image_radius {
	border-radius: 378px;
	padding-bottom: 180%;
}
.main-images__image_radius-small {
	padding-bottom: 100%;
}
.main-images__image_radius-top {
	border-radius: 241.906px 0px 241.906px 241.906px;
}
.main-images__image_radius-bottom {
	border-radius: 241.906px 241.906px 0px 241.906px;
}

/*=======================================================================*/

.brands {
	padding: 96.5px 0 104px 0;
}

.brands__container {
	text-align: center;
}

.brands__title {
	font-size: 14px;
	font-weight: 300;
	text-transform: uppercase;
	line-height: 1.5;
	letter-spacing: 1px;
	margin-bottom: 24px;
}

.brands__row {
	position: relative;
	display: flex;
	flex-wrap: wrap;
	column-gap: 30px;
	row-gap: 10px;
	justify-content: center;
	align-items: center;
}

.brands__row::before,
.brands__row::after {
	content: '';
	position: absolute;
	top: 0;
	width: 115.19px;
	height: 100%;
}

.brands__row::before {
	left: 57.59px;
	background: linear-gradient(90deg, #0D0D11 8%, rgba(0, 0, 0, 0) 100%);
}

.brands__row::after {
	right: 57.59px;
	background: linear-gradient(270deg, #0D0D11 8%, rgba(0, 0, 0, 0) 100%);
}

.brands__column {
	height: 65px;
}

.brands__img {
	max-width: 100%;
}

/*=======================================================================*/

.services {
	padding: 104px 0 91px 0;
}

.services__content {
	flex: 0 1 522px;
}

.services__content > *:not(:last-child) {
	margin-bottom: 20px;
}

.services__button {
	margin-top: 13px;
}

.row-services__column > *:not(:last-child) {
	margin-bottom: 32px;
}

.row-services__content {
	padding: 55px 25px;
	background: rgba(129, 129, 139, 0.1);
	border-radius: 30px;
}
.row-services__content > *:not(:last-child) {
	margin-bottom: 10px;
}

.row-services__icon {
	width: 76px;
	height: 76px;
}

/*=======================================================================*/

.choose {
	padding: 91px 0 96px 0;
}

.choose__container {
	display: flex;
	gap: 64px;
}

.images-choose {
	position: relative;
	display: flex;
	align-items: flex-end;
	justify-content: center;
}
.images-choose::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: -12px;
	width: 122px;
	height: 122px;
	background: url('../img/icons/decor.svg') no-repeat;
	z-index: -1;
}

.images-choose__item {
	overflow: hidden;
}

.images-choose__item_radius-top {
	border-radius: 678px 0px 378px 378px;
	width: 69%;
	padding-bottom: 130.2%;
}
.images-choose__item_radius-bottom {
	border-radius: 181.438px 181.438px 181.438px 0px;
	width: 31%;
	padding-bottom: 30.1%;
}

.content-choose > *:not(:last-child) {
	margin-bottom: 40px;
}

.content-choose__text {
	max-width: 490.93px;
}

.list-choose__item {
	display: flex;
	align-items: center;
	gap: 10px;
}
.list-choose__item::before {
	content: '';
	flex: 0 0 auto;
	width: 32px;
	height: 32px;
	border-radius: 50%;
	background: url('../img/icons/check.svg') center no-repeat, rgba(129, 129, 139, 0.1);
}
.list-choose__item:not(:last-child) {
	margin-bottom: 16px;
}

/*=======================================================================*/

.statistics {
	padding: 96px 0 96px 0;
}

.row-statistics {
	flex: 0 1 748px;
	display: flex;
	gap: 32px;
	flex-wrap: wrap;
}

.row-statistics__column {
	padding: 50px 40px;
	border-radius: 30px;
	background: rgba(129, 129, 139, 0.1);
}
.row-statistics__column > *:not(:last-child) {
	margin-bottom: 32px;
}

.statistics__image {
	flex: 0 1 499px;
	text-align: center;
}
.statistics__image {
	padding-bottom: 46.3%;
}
.statistics__image img {
	border-radius: 0px 438px 378px 378px;
	object-position: top;
}

/*=======================================================================*/

.clients {
	padding: 96px 0 96px 0;
}

.row-clients {
	display: flex;
	column-gap: 48px;
	row-gap: 30px;
	overflow-x: auto;
	scroll-snap-type: x mandatory;
}

.row-clients__column {
	background: rgba(129, 129, 139, 0.1);
	border-radius: 30px;
	padding: 64px 40px 84px 40px;
	scroll-snap-align: center;
	scroll-snap-stop: always;
}

.row-clients__quote {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.row-clients__profile {
	display: flex;
	align-items: center;
	gap: 16px;
	margin-bottom: 33px;
}

.row-clients__img {
	flex: 0 0 auto;
	width: 68.03px;
	height: 68.03px;
}

.row-clients__img_top img {
	border-radius: 0px 68.0312px 68.0312px 68.0312px;
}
.row-clients__img_left img {
	border-radius: 68.0312px 0px 68.0312px 68.0312px;
}
.row-clients__img_bottom img {
	border-radius: 68.0312px 68.0312px 0px 68.0312px;
}

.row-clients__info > * {
	display: block;
}

.row-clients__name {
	line-height: 24px;
	margin-bottom: 7px;
}

.row-clients__company {
	font-size: 14px;
	line-height: 22px;
	color: #9C9C9C;
}

.row-clients__title,
.row-clients__text {
	margin-bottom: 35px;
}

.row-clients__text {
	flex: 1 1 auto;
}

.row-clients__star {
	display: flex;
	align-self: flex-start;
	flex-direction: row-reverse;
	gap: 5.48px;
}

.row-clients__star img {
	width: 18.66px;
	opacity: 0.2;
	cursor: pointer;
	transition: opacity 0.2s;
}
.row-clients__star img.active {
	opacity: 1;
}
.row-clients__star img.active ~ * {
	opacity: 1;
}

/*=======================================================================*/

.news {
	padding: 96px 0 96px 0;
}

.row-news {
	display: flex;
	column-gap: 48px;
	row-gap: 30px;
	overflow-x: auto;
	scroll-snap-type: x mandatory;
}

.row-news__column {
	border-radius: 24px;
	overflow: hidden;
	background: rgba(129, 129, 139, 0.1);
	scroll-snap-stop: always;
	scroll-snap-align: center;
}

.row-news__img {
	overflow: hidden;
	padding-bottom: 49.6%;
}
.row-news__img img {
	transition: transform 0.65s;
}

.row-news__preview {
	position: relative;
}

.row-news__category {
	position: absolute;
	bottom: 0;
	left: 0;
	background: rgba(129, 129, 139, 0.5);
	border-radius: 0px 10px 0px 0px;
	padding: 9px 10px;
	line-height: 1.5;
	font-size: 14px;
}

.row-news__article {
	display: flex;
	flex-direction: column;
	height: 100%;
}

.row-news__content {
	flex: 1 1 auto;
	padding: 26px;
	display: flex;
	flex-direction: column;
}
.row-news__content > *:not(:last-child) {
	margin-bottom: 20px;
}

.row-news__text {
	flex: 1 1 auto;
}

.row-news__date {
	line-height: 1.5;
	color: rgba(129, 129, 139, 0.9);
}

.row-news__read {
	font-size: 14px;
	line-height: 1.5;
	color: #3D96F4;
}

.row-news__title,
.row-news__read {
	align-self: flex-start;
	transition: opacity 0.2s;
}

/*=======================================================================*/

.start {
	padding: 96px 0 127px 0;
}

.start__items {
	background: rgba(129, 129, 139, 0.1);
	border-radius: 30px;
	padding: 52px 40px;
	text-align: center;
}

.start__content {
	flex: 0 1 357px;
}
.start__content > *:not(:last-child) {
	margin-bottom: 16px;
}

.start__action {
	display: flex;
	flex-wrap: wrap;
	column-gap: 32px;
	row-gap: 15px;
}

/*=======================================================================*/

.footer__top {
	padding: 127px 0 183px 0;
	display: flex;
	column-gap: 64px;
	row-gap: 50px;
	justify-content: space-between;
	border-bottom: 1px solid rgba(129, 129, 139, 0.2);
}

.social > *:not(:last-child) {
	margin-bottom: 34px;
}

.social__links {
	display: flex;
	flex-wrap: wrap;
	gap: 16px;
}

.social__link {
	width: 36px;
	height: 36px;
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid rgba(129, 129, 139, 0.9);
	border-radius: 50%;
	transition: border 0.3s;
}
.social__link svg>path {
	transition: fill 0.3s;
}

.menu-footer_pages {
	flex: 0 1 125px;
}
.menu-footer_utility {
	flex: 0 1 207px;
}

.menu-footer__item:not(:last-child) {
	margin-bottom: 24px;
}

.menu-footer__link {
	transition: opacity 0.3s;
}


.footer__form {
 	flex: 0 1 376px;
}
.form-footer > *:not(:last-child) {
	margin-bottom: 31px;
}

.form-footer__actions {
	display: flex;
	gap: 16px;
}

.form-footer__inp {
	width: 100%;
	padding: 14px 32px;
	background-color: transparent;
	border: 1px solid rgba(129, 129, 139, 0.3);
	border-radius: 50px;
	color: #fff;
	transition: border 0.3s;
}
.form-footer__inp::placeholder {
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	color: #999999;
}
.form-footer__inp:focus {
	outline: none;
	border: 1px solid #fff;
}

.footer__bottom {
	padding: 46px 0;
	text-align: center;
	font-size: 14px;
	line-height: 1.5;
	color: #9C9C9C;
}

@media (min-width: 767.98px) {
	.footer__social {
		flex: 0 1 378px;
	}
	.social__text {
		max-width: 346.5px;
	}
	.main-page__text {
		max-width: 500px;
	}
	.main-page__container {
		display: flex;
		align-items: center;
		gap: 32px;
	}
	.menu__list {
		justify-content: flex-end;
		column-gap: 35px;
		flex-wrap: wrap;
	}
	.header__burger {
		display: none;
	}
	.row-clients__column {
		flex: 1 1 calc(50% - 38px);
	}
	.row-news {
		flex-wrap: wrap;
	}
	.row-news__column {
		flex: 1 1 calc(50% - 38px);
	}
	.row-clients {
		flex-wrap: wrap;
	}
}

@media (min-width: 479.89px) {
	.row-statistics__column {
		flex: 1 1 calc(50% - 22px);
	}
	.row-services {
		flex: 0 1 663px;
		justify-content: center;
		gap: 32px;
		display: flex;
	}
	.row-services__column:nth-child(2) {
		margin-top: -48px;
	}
}

@media (min-width: 991.98px) {
	.start__items {
		display: flex;
		gap: 30px;
		align-items: center;
		justify-content: space-around;
	}
	.row-clients__column {
		flex: 1 1 calc(33.333% - 38px);
	}
	.images-choose,
	.content-choose {
		flex: 0 1 608px;
	}
	.statistics__container {
		display: flex;
		align-items: center;
		gap: 32px;
	}
	.choose__container {
		align-items: center;
	}
	.row-news__column {
		flex: 1 1 calc(33.333% - 38px);
	}
}

@media (max-width: 991.98px) {
	.brands,
	.services,
	.choose,
	.statistics,
	.clients,
	.news,
	.start,
	.footer__top {
		padding-top: 0px;
	}
	.footer__top {
		padding-bottom: 127px;
	}
	.choose__container {
		flex-direction: column-reverse;
	}
	.row-statistics {
		margin-bottom: 50px;
	}
	.row-clients__column {
		padding: 40px;
	}
	.row-clients {
		column-gap: 30px;
	}
	.images-choose__item_radius-top {
		border-radius: 130% 0 100% 100%;
		padding-bottom: 80.2%;
	}
	.statistics__image {
		padding-bottom: 66.3%;
	}
	.row-news {
		column-gap: 30px;
	}
	.start__action {
		justify-content: center
	}
	.start__content {
		margin-bottom: 20px;
	}
	.footer__top {
		flex-wrap: wrap;
	}
	.footer__top > * {
		flex: 0 1 calc(33.333% - 54px);
	}
}

@media (max-width: 767.98px) {
	.social > *:not(:last-child) {
		margin-bottom: 15px;
	}
	.form-footer > *:not(:last-child) {
		margin-bottom: 15px;
	}
	.title_footer {
		margin-bottom: 15px;
	}
	.footer__top {
		gap: 30px;
	}
	.menu-footer__item:not(:last-child) {
		margin-bottom: 14px;
	}
	.form-footer__button {
		width: 100%;
	}
	.footer__social,
	.footer__form {
		flex: 1 1 100%;
	}
	.footer__menu {
		flex: 1 1 calc(50% - 64px);
	}
	.row-clients__column {
		flex: 1 0 80%;
	}
	.row-news,
	.row-clients {
		margin: 0 -10px;
		padding: 0 10px;
	}
	.row-news__column {
		flex: 1 0 80%;
	}
	.row-clients__title,
	.row-clients__text {
		margin-bottom: 20px;
	}
	.title-block {
		margin-bottom: 30px;
	}
	.row-statistics {
		margin-bottom: 30px;
	}
	.row-statistics__column > *:not(:last-child) {
		margin-bottom: 12px;
	}
	.row-statistics__column {
		padding: 35px;
	}
	.choose__container {
		gap: 30px;
	}
	.content-choose > *:not(:last-child) {
		margin-bottom: 25px;
	}
	.row-services__content {
		padding: 25px;
	}
	.main-page__content > *:not(:last-child) {
		margin-bottom: 20px;
	}
	.title {
		font-size: 41.2px;
	}
	.row-news__content > *:not(:last-child) {
		margin-bottom: 10px;
	}
	.main-page__content {
		margin-bottom: 30px;
	}
	.main-images {
		column-gap: 30px;
	}
	.main-page {
		padding: 100px 0 0 0;
	}
	.menu__list {
		flex-direction: column;
		row-gap: 13px;
		position: fixed;
		top: 0;
		left: -100%;
		width: 100%;
		height: 100%;
		padding: 100px 30px 30px 30px;
		background-color: rgba(13, 13, 17, 0.9);
		overflow: auto;
		font-size: 28px;
		text-align: center;
		transition: left 0.4s;
		z-index: -1;
	}
	.menu__list::before {
		content: '';
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 70px;
		background-color: #0D0D11;
		z-index: 1;
	}
	.menu__list._show {
		left: 0%;
	}
	.header__container {
		min-height: 70px;
		gap: 25px;
	}
	.header__button {
		padding: 10px 20px;
	}
	.cart::before {
		display: block
	}
	.cart__text {
		display: none
	}
	.cart__count {
		position: absolute;
		top: -5px;
		right: -5px;
		width: 20px;
		height: 20px;
		font-size: 10px;
	}
	.brands,
	.services,
	.choose,
	.statistics,
	.clients,
	.news,
	.start {
		padding-bottom: 0px;
	}
	.brands,
	.choose,
	.statistics,
	.clients,
	.news,
	.start,
	.footer__top  {
		padding-top: 50px;
	}
	.services {
		padding-top: 30px;
	}
	.footer__top {
		padding-bottom: 50px;
	}
	.footer__bottom {
		padding: 30px 0;
	}
}

@media (max-width: 1025px) {
	.services__content {
		margin-bottom: calc(30px + 48px);
	}
}

@media (max-width: 479.89px) {
	.title_footer {
		font-size: 16px;
	}
	.row-news__content {
		padding: 18px;
	}
	.row-clients__profile {
		margin-bottom: 20px;
	}
	.row-services__content,
	.row-statistics__column {
		text-align: center;
	}
	.row-news__date {
		font-size: 14px;
	}
	.statistics__image {
		padding-bottom: 106.3%;
	}
	.images-choose__item_radius-top {
		border-radius: 678px 0px 378px 378px;
		padding-bottom: 130.2%;
	}
	.row-clients__title,
	.row-clients__text {
		margin-bottom: 13px;
	}
	.title_normal {
		font-size: 22px;
	}
	.row-clients__column {
		padding: 25px;
	}
	.content-choose > *:not(:last-child) {
		margin-bottom: 15px;
	}
	.services__content > *:not(:last-child) {
		margin-bottom: 10px;
	}		
	.services__content {
		margin-bottom: 30px;
	}
	.row-services__column:not(:last-child) {
		margin-bottom: 32px;
	}
	.row-services__icon {
		width: 55px;
	}
	.title.title_small {
		font-size: 16px;
	}
	.text.text_small {
		font-size: 14px;
	}
	.main-page__buttons {
		gap: 20px;
	}
	.main-page__button,
	.services__button,
	.title-block__button,
	.start__button {
		width: 100%;
	}
	.header__logo {
		width: 33px;
	}
	.header__container {
		gap: 15px;
	}
	.title {
		font-size: 31.2px;
	}
	.text {
		font-size: 14px;
	}
	.brands__row {
		column-gap: 10px;
		row-gap: 0px;
	}
	.brands__column {
		flex: 0 1 calc(50% - 5px);
	}
}

@media (min-width: 1025px) {
	.services__container {
		display: flex;
		gap: calc(104px + 21px);
		align-items: center;
	}
}

@media (max-width: 1135px) {
	.services__container {
		gap: 50px;
	}
}

@media (max-width: calc(1280px + 10px)) {
	.brands__row::before {
		left: 0;
	}

	.brands__row::after {
		right: 0;
	}
	.form-footer__actions {
		flex-wrap: wrap;
	}
	.form-footer__inp {
		min-height: 53px;
	}
}

@media (any-hover: hover) {
	.button:hover {
		background-color: rgba(61, 150, 244, 0.65);
	}
	.button.button_black:hover {
		background-color: rgba(255, 255, 255, 0.2)
	}
	.menu__link:hover::before,
	.cart__text:hover::before {
		left: 0%;
		width: 100%
	}
	.row-clients__star img:hover {
		opacity: 1;
	}
	.row-clients__star img:hover ~ * {
		opacity: 1;
	}
	.row-news__column:hover .row-news__img img {
		transform: scale(1.13);
	}
	.row-news__title:hover,
	.row-news__read:hover,
	.menu-footer__link:hover {
		opacity: 0.5;
	}
	.social__link:hover {
		border: 1px solid #fff;
	}
	.social__link:hover svg>path {
		fill: #fff;
	}
}